version: "3.9"

services:
  job-bot:
    build: .
    container_name: job_bot
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./seen_jobs.json:/app/seen_jobs.json

    command: >
      sh -c "while true; do
        python app.py;
        sleep 3600;
      done"